.verticalline {
  border-right: 2px solid black; /* Adjust thickness and color as needed */
  height: 70px; /* Adjust height as needed */
}

hr{
    // padding: 1px;
    border-top-width: 0px; 
    border: 1px solid black;
}