<div class=" p-2 m-2 bg-white ">
    <div class="flex p-1 bg-blue-200 mb-5"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 640"
            enable-background="new 0 0 512 512" xml:space="preserve" width="20px" height="30px">
            <g>
                <path
                    d="M75.4,125h110.2c7.8,0,14.1-6.3,14.1-14.1c0-7.8-6.3-14.1-14.1-14.1H75.4c-7.8,0-14.1,6.3-14.1,14.1   C61.3,118.7,67.6,125,75.4,125z" />
                <path
                    d="M75.4,203.7h222.1c7.8,0,14.1-6.3,14.1-14.1c0-7.8-6.3-14.1-14.1-14.1H75.4c-7.8,0-14.1,6.3-14.1,14.1   C61.3,197.4,67.6,203.7,75.4,203.7z" />
                <path
                    d="M75.4,282.4h222.1c7.8,0,14.1-6.3,14.1-14.1c0-7.8-6.3-14.1-14.1-14.1H75.4c-7.8,0-14.1,6.3-14.1,14.1   C61.3,276.1,67.6,282.4,75.4,282.4z" />
                <path
                    d="M182,332.8H75.4c-7.8,0-14.1,6.3-14.1,14.1c0,7.8,6.3,14.1,14.1,14.1H182c7.8,0,14.1-6.3,14.1-14.1   C196.1,339.2,189.8,332.8,182,332.8z" />
                <path
                    d="M148.5,411.5H75.4c-7.8,0-14.1,6.3-14.1,14.1c0,7.8,6.3,14.1,14.1,14.1h73.1c7.8,0,14.1-6.3,14.1-14.1   C162.7,417.8,156.3,411.5,148.5,411.5z" />
                <path
                    d="M494.7,177.7c-17-17.4-45.4-22-65.3-3.4l-58.5,58.5V117.3c0-3.7-1.5-7.3-4.1-10L265.6,6.1c-2.6-2.6-6.2-4.1-10-4.1H44.4   C21,2,2,21,2,44.3v423.3C2,491,21,510,44.4,510h284.2c23.3,0,42.3-19,42.3-42.3v-97.5L498.1,243   C515.2,225.9,513.7,196.6,494.7,177.7z M322.7,103.2h-53l0-53L322.7,103.2z M342.7,467.7c0,7.8-6.3,14.1-14.1,14.1H44.4   c-7.8,0-14.1-6.3-14.1-14.1V44.3c0-7.8,6.3-14.1,14.1-14.1h197.2l0,87c0,7.8,6.3,14.1,14.1,14.1h87v129.8L219.5,384.3   c-1.9,1.9-3.2,4.3-3.8,6.9l-13.9,62.6c-1,4.7,0.4,9.6,3.8,13c4,3.8,8.4,4.6,13,3.8l62.6-13.9c2.6-0.6,5-1.9,6.9-3.8l54.5-54.5   V467.7z M478.1,223.1l-207,207l-36.9,8.2l8.2-36.9l207-207c6.5-6.2,17.4-4.3,25.4,3.4C482.6,205.5,484.1,217.1,478.1,223.1z" />
            </g>
        </svg>
        <h6 class="mx-1">بيانات الجمعية</h6>
    </div>
    <div class="col-span-12 bg-blue-500 flex mx-3">
        <div class="w-4/12 text-center p-1">اسم القسم</div>
        <div class="w-2/12 text-center p-1">رقم القسم</div>
        <div class="w-2/12 text-center  p-1">رقم التحويلة</div>
    </div>

    <div class="grid grid-cols-12 px-3">

        <div class="col-span-12 flex bg-white m-0 p-0 ">
            <div class="w-4/12 flex border border border-gray-200 items-center px-1">
                <svg fill="green" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 "
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.402 45.402" xml:space="preserve">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                            </path>
                        </g>
                    </g>
                </svg>
                <input type="text" placeholder="ادخل اسم القسم" pInputText
                    class="text-sm  w-full border-0 md:col-span-5  mt-1 px-4 bg-gray-60" />
            </div>
            <div class="w-2/12 border border-gray-200 ">
                <input type="text" placeholder="ادخل رقم القسم" pInputText
                    class="text-sm w-full border-0 md:col-span-5 h-8 mt-1 px-4 bg-gray-60" />
            </div>
            <div class="w-2/12 border border-gray-200 ">
                <input type="text" placeholder="ادخل رقم التحويلة" pInputText
                    class="text-sm w-full border-0 md:col-span-5 h-8 mt-1 px-4 bg-gray-60" />
            </div>
        </div>
        <div class=" verticalline pt-8 col-span-12 flex items-center mx-3">
            <hr class="w-8 bg-black ">
            <svg fill="#4285F4" width="12px" height="12px" viewBox="0 0 256 256" id="Flat"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M232,128A104,104,0,1,1,128,24,104.12041,104.12041,0,0,1,232,128Z" />
            </svg>
            <input type="text" pInputText
                class="w-full  p-2 border-0 bg-blue-200 md:col-span-5 h-8 mt-1 px-4 bg-gray-60" />
        </div>
        <div class=" verticalline pt-8 col-span-12 flex items-center mx-3 pb-3">
            <hr class="w-8 bg-black ">
            <svg fill="#4285F4" width="12px" height="12px" viewBox="0 0 256 256" id="Flat"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M232,128A104,104,0,1,1,128,24,104.12041,104.12041,0,0,1,232,128Z" />
            </svg>
            <input type="text" pInputText
                class="w-full  p-2 border-0 bg-blue-200 md:col-span-5 h-8 mt-1 px-4 bg-gray-60" />
        </div>
    </div>


    <div class="flex justify-end">
        <button class="bg-blue-800 rounded-lg px-5 py-1 text-white mt-5">اضافة ادارة </button>
    </div>
</div>